.student {
  display: flex;
  justify-content: space-between;
  background-color: #202f2b;
}
.studentTitle {
  color: red;
}
.bioContainer {
  margin-left: 50px;
  width: 35%;
}
.scoreContainer {
  margin-right: 150px;
}
